{% extends "BusetaTemplateBundle::layout.html.twig" %}

{% block title %}P치gina principal v0.6{% endblock %}

{% block header %} {% endblock %}

 {% block titulo_encabezado %} P치gina Principal {% endblock %}


{% block body %}

    <header id="hero" style="padding-bottom: 20px; margin-top:20px;">

        <div class="jumbotron masthead">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="inner span5, align-center">
                        <h1>Sistema de Gesti칩n de Buses</h1>
                        <p>Seleccione el m칩dulo deseado</p>
                    </div>
                    <div class="span7">
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="container-fluid metro">
        {{ knp_menu_render('HatueySoftMenuBundle:MenuBuilder:defaultModulesMenu',{'currentClass': 'active', 'template': 'HatueySoftMenuBundle:Templates:menu_modules_template.html.twig'}) }}
    </div>

{% endblock %}


{% block contenido %}


{% endblock %}
