{% extends "CoreBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Módulo Configuración del Sistema' %}

{% block area_trabajo %}

    <div class="alert alert-info">
        <h4>Bienvenido al Módulo Configuración del Sistema, seleccione la opción deseada en el menú que se encuentra a la izquierda de esta ventana.</h4>
    </div>

{% endblock %}
