{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row-fluid">
            <div class="span8 offset2"><h1>ERROR 403</h1></div>
        </div>
        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="alert alert-error">
                    <strong>Usted no tiene permisos para aceder al recurso solicitado.</strong>
                    <div>{{ exception.message|nl2br|format_file_from_text }}</div>
                    <div><a href="javascript:history.go(-1);" class="btn"><i class="icon-chevron-left"></i> Volver</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
