.idea
vendor/
nbproject/
web/bundles/*
app/cache/*
app/logs/*
app/config/parameters.yml
web/images/*
web/components/*
web/files/*
web/uploads/resources/*
composer.lock
app/bootstrap.php.cache
app/SymfonyRequirements.php
*.*~
