{% extends '::base.html.twig' %}

{% block title block('header') %}

{% block header 'Modificar Datos de Tarea Diagnostico ' %}

{% block body -%}
    <h1>TareaDiagnostico edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tareadiagnostico') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
