{% extends "HatueySoftSecurityBundle::layout.html.twig" %}

{% block title %}
    Modificar datos de la secuencia: {{ entity.nombre }}
{% endblock %}

{% block titulo_encabezado %}
    Modificar datos de la secuencia: {{ entity.nombre }}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-pane fade in active" id="basicos">
                {% include '@HatueySoftSequence/Secuencia/form_template.html.twig' with {'form': edit_form} %}
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock content %}

{% block javascripts %}
    <script src="{{ asset('bundles/hatueysoftsequence/js/checkClick.js') }}"></script>
{% endblock javascripts %}
