{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title %}
    Adicionar Nuevo Producto
{% endblock %}

{% block titulo_encabezado %}
    Adicionar Nuevo Producto
{% endblock %}

{% block area_trabajo %}

    <div class="row">
        <div class="col-lg-12">
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos</a></li>
                <li><a href="#precios" data-toggle="tab">Precios</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@BusetaBodega/Producto/form_template.html.twig' with {'form': form} %}
                </div>

                <!-- TAB PRECIOS-->
                <div class="tab-pane fade" id="precios">
                    {# Precios #}
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock area_trabajo %}
