{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% form_theme edit_form 'BusetaBodegaBundle:Widgets:collection_linea_insertadas.html.twig' %}

{% block title block('header') %}

{% block header 'Modificar Registro de Compra' %}

{% block area_trabajo %}

    <div class="row">
        <div class="col-lg-12">
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos</a></li>
                <li><a href="#lineas" data-toggle="tab">Líneas</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@BusetaBodega/PedidoCompra/form_template.html.twig' with {'form': edit_form} %}
                </div>

                <!-- TAB LINEAS-->
                <div class="tab-pane fade" id="lineas">
                    {# Líneas #}
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock area_trabajo %}

{% block javascripts %}
    <!-- Utils script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/utils.js') }}"></script>

    <!-- Proveedor script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/pedidocompra/proveedor.js') }}"></script>
    <!-- PedidoCompra script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/pedidocompra/pedidocompra.js') }}"></script>
    <!-- Lineas script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/pedidocompra/pedidocompralineas.js') }}">
    </script>

    <!-- Initialize script -->
    <script type="text/javascript">
        $(function () {
            // init pedidocompra
            pedidocompra._load();
        });
    </script>
{% endblock javascripts %}
