{% extends "BusetaBusesBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar Vehículo' %}

{% block area_trabajo %}

    <div class="row">
        <div class="col-lg-12">
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@BusetaBuses/Vehiculo/form_template.html.twig' with {'form': edit_form} %}
                </div>
            </div>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Tabs actions template -->
    {% include '@BusetaBuses/Vehiculo/template_tabs_actions.html.twig' %}

    <!-- Dependencia marca y modelo script -->
    {% include '@BusetaBuses/Vehiculo/template_marcaModelo.html.twig' with {'form': edit_form} %}

    <!-- Fechas script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/funciones_datetime.js') }}"></script>

    <!-- Vehículo script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabuses/js/vehiculo/vehiculo.js') }}"></script>

    <!-- Initialize script -->
    <script type="text/javascript">
        $(function (){
            // init vehiculo
            vehiculo._load();
        });
    </script>
{% endblock javascripts %}
