{% extends "::base.html.twig" %}

{% block header %}{% endblock %}
{% block header_right %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/busetatemplate/css/g_bodega.css') }}" media="screen">
{% endblock %}

{% block title %}
    Notificaciones {{ parent() }}
{% endblock %}

{% block header_superior_logo %}
    {# Header Superior y logo #}
    {% include '@BusetaNotificaciones/Extras/header.html.twig'  %}
{% endblock %}

{% block left_menu_items %}
    {# Left menu items #}
    {#{% include 'BusetaBodegaBundle:Extras:menu_izquierdo.html.twig'  %}#}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            {{ knp_menu_render('BusetaNotificacionesBundle:MenuBuilder:mainMenu',{'currentClass': 'active', 'allow_safe_labels': true}) }}
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </nav>
    <!-- /.navbar-static-side -->
{% endblock %}

{% block content %}
    {% block area_trabajo %}
        Área de Trabajo
    {% endblock %}
{% endblock %}

{% block javascripts %}{% endblock javascripts %}
