#header {
    overflow: scroll;
}

@media (min-width: 1200px) {
    #header #header-footer {
        position: relative;
    }
    #header-logo.navbar-navigation a {
        height: 45px;
        line-height: 45px;
        color: #fff;
    }
}
