{% extends 'BusetaBodegaBundle::layout.html.twig' %}

{% block title block('header') %}

{% block header 'Crear Nuevo Proveedor' %}

{% block area_trabajo %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Proveedor</a></li>
                <li><a href="#direcciones" data-toggle="tab">Direcciones</a></li>
                <li><a href="#contactos" data-toggle="tab">Mecanismos de contacto</a></li>
                <li><a href="#pcontactos" data-toggle="tab">Personas de contacto</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include 'BusetaBodegaBundle:Proveedor:proveedor_model.html.twig' with {'form': edit_form} %}
                </div>
                <!-- TAB DIRECCIONES-->
                <div class="tab-pane fade" id="direcciones"></div>
                <!-- TAB MECANISMOS DE CONTACTO-->
                <div class="tab-pane fade" id="contactos"></div>
                <!-- TAB PERSONAS DE CONTACTO-->
                <div class="tab-pane fade" id="pcontactos"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
{{ parent() }}

<!-- Initialize script -->
<script type="text/javascript">
    var $collectionHolder;
    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Nueva Marca</a>');
    var $newLinkLi = $('<li class="tag"></li>').append($addTagLink);

    $(function (){
        // init proveedor
        proveedor._load();

        $('a.thumbnail').on('click', function (e) {
            e.preventDefault();

            $('input[id$="_foto_file"]').trigger('click');
        });

        initTagsComponents();
    });

    function initTagsComponents() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.tags');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);


        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function() {
            if ($(this).children(':first').is('span')) {
                addTagFormDeleteLink($(this));
            }
        });


        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    }

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');
        // get the new index
        var index = $collectionHolder.data('index');
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);
        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li class="tag"></li>').append(newForm);
        $newLinkLi.before($newFormLi);
        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#"><span class="glyphicon glyphicon-remove"></span></a>');
        $tagFormLi.append($removeFormA);
        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>

<!-- Proveedor script -->
<script type="text/javascript">
    var proveedor = {
        tabname: 'basicos',
        form_id: $('div#basicos').find('form').attr('id'),
        form_name: $('div#basicos').find('form').attr('name'),
        proveedor_id: '',
        tercero_id: '',

        _load: function () {
            proveedor.proveedor_id = $('input[id="' + proveedor.form_id + '_proveedorId"]').val();
            proveedor.tercero_id = $('input[id="' + proveedor.form_id + '_terceroId"]').val();

            $('a#btn_proveedor_save').on('click', proveedor._save);

            // on show tab events
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                var href = $(e.target).attr('href');

                if (href === '#direcciones') {
                    direccion._load();
                } else if(href === '#contactos') {
                    contacto._load();
                } else if(href === '#pcontactos') {
                    pcontacto._load();
                }
            });
        },

        _save: function (e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            // add spinning to show loading process
            tabs._add_loadding(proveedor.tabname);

            var proveedorForm    = $('form#' + proveedor.form_id);
            var url = Routing.generate('proveedor_create');

            proveedor.proveedor_id = $('input[id="' + proveedor.form_id + '_proveedorId"]').val();
            proveedor.tercero_id = $('input[id="' + proveedor.form_id + '_terceroId"]').val();

            if(proveedor.proveedor_id !== '' && proveedor.proveedor_id !== undefined) {
                url = Routing.generate('proveedor_update', {'id': proveedor.proveedor_id});
            }

            proveedorForm.ajaxSubmit({
                success: proveedor._done,
                error: utils._fail,
                complete: proveedor._always,
                url: url,
                dataType: 'json'
            });
        },

        _done: function (response, textStatus, jqXHR) {
            $('form#' + proveedor.form_id).replaceWith(response.view);
            initTagsComponents();

            if(jqXHR.status == 201) {
                $btalerts.addSuccess(response.message);
                // Proveedor Id
                proveedor.proveedor_id = $('input[id="' + proveedor.form_id + '_proveedorId"]').val();
                proveedor.tercero_id = $('input[id="' + proveedor.form_id + '_terceroId"]').val();
            } else if(jqXHR.status == 202) {
                $btalerts.addSuccess(response.message);
            }

            $('a#btn_proveedor_save').on('click', proveedor._save);
//            $('a#btn_proveedor_cancel').on('click', proveedor._save);
        },

        _always: function() {
            // remove spinning
            tabs._remove_loadding('basicos');
        }
    }
</script>

<!-- Direcciones script -->
<script type="text/javascript">
    var direccion = {
        tabname:'direcciones',
        form_name: '',
        form_id: '',

        _start_events: function () {
            <!-- click en el bot贸n 'Adicionar direcci贸n' -->
            $('a[href="#form_direccion_modal"]').on('click', direccion._load_modal);
            $('a[href="#btn_direccion_edit"]').on('click', direccion._load_modal);
            $('a[href="#btn_direccion_delete"]').on('click', direccion._load_delete_modal);

            // Paginator sort
            $('table.direccion_records_list').find('a.sortable, a.asc, a.desc').on('click', direccion._load);
            // Paginator navigation
            $('div.direccion-paginator.row ul.pagination').find('a.paginator-link').on('click', direccion._load);
        },

        _load: function (e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            //tabs._add_loadding(direccion.tabname);

            var url = Routing.generate('direccion', {'tercero': proveedor.tercero_id});
            if($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                url = $(this).attr('href');
            }

            $.get(url).done(function (response, textStatus, jqXHR) {
                $('div#direcciones').html(response);

                direccion._start_events();
            }).fail(utils._fail).always(direccion._always());
        },

        _load_modal: function (e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            var url = Routing.generate('direccion_new', {'tercero': proveedor.tercero_id});
            if ($(this).attr('href') !== undefined && $(this).attr('href') === '#btn_direccion_edit') {
                url = Routing.generate('direccion_edit', {'id': $(this).data('content')});
            }

            $.get(url)
                    .done(function(response, textStatus, jqXHR){

                        $('div#form_direccion_modal').replaceWith($(response.view));

                        direccion.form_id = $('div#form_direccion_modal').find('form').attr('id');
                        direccion.form_name = $('div#form_direccion_modal').find('form').attr('name');

                        $('a#btn_direccion_save').on('click', direccion._save_modal);
                        $('a#btn_direccion_cancel').on('click', function(){
                            $('div#form_direccion_modal').modal('hide');
                        });

                        $('div#form_direccion_modal').modal('show');
                    }).fail(utils._fail).always(function(){});
        },

        _load_delete_modal: function(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            if(proveedor.tercero_id === '' || proveedor.tercero_id === undefined) {
                return;
            }

            var url = Routing.generate('terceros_direccion_delete', {'id': $(this).data('content')});

            $.get(url).done(function(response, textStatus, jqXHR){
                $('div#form_address_delete_modal').replaceWith($(response.view));

                $('div#form_address_delete_modal a#btn_direccion_delete').on('click', direccion._save_delete_modal);
                $('div#form_address_delete_modal a#btn_direccion_cancel').on('click', function(){
                    $('div#form_address_delete_modal').modal('hide');
                });

                $('div#form_address_delete_modal').modal('show');
            }).fail(utils._fail).always(function(){});
        },

        _save_modal: function (e) {
            if(e !== undefined) {
                e.preventDefault();
            }

            $('#btn_direccion_save').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');

            $('form#' + direccion.form_id).ajaxSubmit({
                success: direccion._done,
                error: utils._fail,
                complete: direccion._always,
                dataType: 'json'
            });
        },

        _save_delete_modal: function (event) {
            console.log('_save_delete_modal');

            if(event != undefined) {
                event.preventDefault();
            }

            $('#btn_direccion_delete').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');

            var deleteForm = $('div#form_address_delete_modal').find('form'),
                    url = $(deleteForm).attr('action');

            deleteForm.ajaxSubmit({
                success: function (response, textStatus, jqXHR) {
                    if(jqXHR.status == 202) {
                        $btalerts.addSuccess(response.message);
                    }
                    $('div#form_address_delete_modal').modal('hide');
                    direccion._load();
                },
                error: utils._fail,
                complete: direccion._always,
                url: url,
                dataType: 'json'
            });
        },

        _done: function (response, textStatus, jqXHR) {
            if(jqXHR.status == 201 || jqXHR.status == 202) {
                //$btalerts.addSuccess(response.message);

                $('div#form_direccion_modal').modal('hide');
                direccion._load();
            } else {
                $('form#' + direccion.form_id).replaceWith($(response.view).find('form'));
            }
        },

        _always: function () {
            tabs._remove_loadding(direccion.tabname)
        }
    };
</script>

<!-- Mecanismos de Contacto script -->
<script type="text/javascript">
    var contacto = {
        tabname: 'contactos',
        form_name: '',
        form_id: '',

        _start_events: function () {
            <!-- click en el bot贸n 'Adicionar mecanismo de contacto' -->
            $('a[href="#form_contacto_modal"]').on('click', contacto._load_modal);
            $('a[href="#btn_contacto_edit"]').on('click', contacto._load_modal);
            $('a[href="#btn_contacto_delete"]').on('click', contacto._load_delete_modal);

            // Paginator sort
            $('table.records_list').find('a.sortable, a.asc, a.desc').on('click', contacto._load);
            // Paginator navigation
            $('div.direccion-paginator.row ul.pagination').find('a.paginator-link').on('click', contacto._load);
        },

        _load: function (e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            tabs._add_loadding(contacto.tabname);

            var url = Routing.generate('mecanismocontacto', {'tercero': proveedor.tercero_id});
            if($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                url = $(this).attr('href');
            }

            $.get(url).done(function (response, textStatus, jqXHR) {
                $('div#contactos').html(response);

                contacto._start_events();
            }).fail(utils._fail).always(contacto._always());
        },

        _load_modal: function (e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            var url = Routing.generate('mecanismocontacto_new', {'tercero': proveedor.tercero_id});
            if($(this).attr('href') !== undefined && $(this).attr('href') === '#btn_contacto_edit') {
                url = Routing.generate('mecanismocontacto_edit', {'id': $(this).data('content')});
            }

            $.get(url)
                    .done(function(response, textStatus, jqXHR){
                        $('div#form_contacto_modal').replaceWith($(response.view));

                        contacto.form_id = $('div#form_contacto_modal').find('form').attr('id');
                        contacto.form_name = $('div#form_contacto_modal').find('form').attr('name');

                        $('a#btn_contacto_save').on('click', contacto._save_modal);
                        $('a#btn_contacto_cancel').on('click', function(){
                            $('div#form_contacto_modal').modal('hide');
                        });

                        $('div#form_contacto_modal').modal('show');
                    }).fail(utils._fail).always(function(){});
        },

        _load_delete_modal: function(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            if(proveedor.tercero_id === '' || proveedor.tercero_id === undefined) {
                return;
            }

            var url = Routing.generate('terceros_mecanismocontacto_delete', {'id': $(this).data('content')});

            $.get(url).done(function(response, textStatus, jqXHR){
                $('div#form_contacto_delete_modal').replaceWith($(response.view));

                $('div#form_contacto_delete_modal a#btn_contacto_delete').on('click', contacto._save_delete_modal);
                $('div#form_contacto_delete_modal a#btn_contacto_cancel').on('click', function(){
                    $('div#form_contacto_delete_modal').modal('hide');
                });

                $('div#form_contacto_delete_modal').modal('show');
            }).fail(utils._fail).always(function(){});
        },

        _save_modal: function (e) {
            if(e !== undefined) {
                e.preventDefault();
            }

            $('#btn_contacto_save').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');

            $('form#' + contacto.form_id).ajaxSubmit({
                success: contacto._done,
                error: utils._fail,
                complete: contacto._always,
                dataType: 'json'
            });
        },

        _save_delete_modal: function (event) {

            if(event != undefined) {
                event.preventDefault();
            }

            $('#btn_contacto_delete').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');

            var deleteForm = $('div#form_contacto_delete_modal').find('form'),
                    url = $(deleteForm).attr('action');

            deleteForm.ajaxSubmit({
                success: function (response, textStatus, jqXHR) {
                    if(jqXHR.status == 202) {
                        $btalerts.addSuccess(response.message);
                    }
                    $('div#form_contacto_delete_modal').modal('hide');
                    contacto._load();
                },
                error: utils._fail,
                complete: contacto._always,
                url: url,
                dataType: 'json'
            });
        },

        _done: function (response, textStatus, jqXHR) {
            if(jqXHR.status == 201 || jqXHR.status == 202) {
                $btalerts.addSuccess(response.message);

                $('div#form_contacto_modal').modal('hide');
                contacto._load();
            } else {
                $('form#' + contacto.form_id).replaceWith($(response.view).find('form'));
            }
        },

        _always: function () {
            tabs._remove_loadding(contacto.tabname)
        }
    }
</script>

<!-- Persona de Contacto script -->
<script type="text/javascript">
    var pcontacto = {
        tabname: 'pcontactos',
        form_name: '',
        form_id: '',

        _start_events: function () {
            <!-- click en el bot贸n 'Adicionar persna de contacto' -->
            $('a[href="#form_pcontacto_modal"]').on('click', pcontacto._load_modal);
            $('a[href="#btn_pcontacto_edit"]').on('click', pcontacto._load_modal);
            $('a[href="#btn_pcontacto_delete"]').on('click', pcontacto._load_delete_modal);

            // Paginator sort
            $('table.records_list').find('a.sortable, a.asc, a.desc').on('click', pcontacto._load);
            // Paginator navigation
            $('div.direccion-paginator.row ul.pagination').find('a.paginator-link').on('click', pcontacto._load);
        },

        _load: function (e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            tabs._add_loadding(pcontacto.tabname);

            var url = Routing.generate('personacontacto', {'tercero': proveedor.tercero_id});
            if($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                url = $(this).attr('href');
            }

            console.log(url);

            $.get(url).done(function (response, textStatus, jqXHR) {
                $('div#pcontactos').html(response);

                pcontacto._start_events();
            }).fail(utils._fail).always(pcontacto._always());
        },

        _load_modal: function (e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            var url = Routing.generate('personacontacto_new', {'tercero': proveedor.tercero_id});
            if($(this).attr('href') !== undefined && $(this).attr('href') === '#btn_pcontacto_edit') {
                url = Routing.generate('personacontacto_edit', {'id': $(this).data('content')});
            }

            $.get(url)
                    .done(function(response, textStatus, jqXHR){
                        $('div#form_pcontacto_modal').replaceWith($(response.view));

                        pcontacto.form_id = $('div#form_pcontacto_modal').find('form').attr('id');
                        pcontacto.form_name = $('div#form_pcontacto_modal').find('form').attr('name');

                        $('a#btn_pcontacto_save').on('click', pcontacto._save_modal);
                        $('a#btn_pcontacto_cancel').on('click', function(){
                            $('div#form_pcontacto_modal').modal('hide');
                        });

                        $('div#form_pcontacto_modal').modal('show');
                    }).fail(utils._fail).always(function(){});
        },

        _load_delete_modal: function(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            if(proveedor.tercero_id === '' || proveedor.tercero_id === undefined) {
                return;
            }

            var url = Routing.generate('terceros_personacontacto_delete', {'id': $(this).data('content')});

            $.get(url).done(function(response, textStatus, jqXHR){
                $('div#form_pcontacto_delete_modal').replaceWith($(response.view));

                $('div#form_pcontacto_delete_modal a#btn_pcontacto_delete').on('click', pcontacto._save_delete_modal);
                $('div#form_pcontacto_delete_modal a#btn_pcontacto_cancel').on('click', function(){
                    $('div#form_pcontacto_delete_modal').modal('hide');
                });

                $('div#form_pcontacto_delete_modal').modal('show');
            }).fail(utils._fail).always(function(){});
        },

        _save_modal: function (e) {
            if(e !== undefined) {
                e.preventDefault();
            }

            $('#btn_pcontacto_save').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');

            $('form#' + pcontacto.form_id).ajaxSubmit({
                success: pcontacto._done,
                error: utils._fail,
                complete: pcontacto._always,
                dataType: 'json'
            });
        },

        _save_delete_modal: function (event) {

            if(event != undefined) {
                event.preventDefault();
            }

            $('#btn_pcontacto_delete').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');

            var deleteForm = $('div#form_pcontacto_delete_modal').find('form'),
                    url = $(deleteForm).attr('action');

            deleteForm.ajaxSubmit({
                success: function (response, textStatus, jqXHR) {
                    if(jqXHR.status == 202) {
                        $btalerts.addSuccess(response.message);
                    }
                    $('div#form_pcontacto_delete_modal').modal('hide');
                    pcontacto._load();
                },
                error: utils._fail,
                complete: pcontacto._always,
                url: url,
                dataType: 'json'
            });
        },

        _done: function (response, textStatus, jqXHR) {
            if(jqXHR.status == 201 || jqXHR.status == 202) {
                $btalerts.addSuccess(response.message);

                $('div#form_pcontacto_modal').modal('hide');
                pcontacto._load();
            } else {
                $('form#' + pcontacto.form_id).replaceWith($(response.view).find('form'));
            }
        },

        _always: function () {
            tabs._remove_loadding(pcontacto.tabname)
        }
    }
</script>

<!-- Extras script -->
<script type="text/javascript">
    var tabs = {
        loadding_image: '<span class="loading"><i class="fa fa-spinner fa-spin"></i> </span>',
        _add_loadding: function (tabname) {
            var spinning = $('li a[href="#' + tabname + '"]').find('span.loading');

            if (spinning.length == 0) {
                var linktab = $('li a[href="#' + tabname + '"]');
                linktab.prepend($(tabs.loadding_image));
            }
        },

        _remove_loadding: function (tabname) {
            var spinning = $('li a[href="#' + tabname + '"]').find('span.loading');
            spinning.remove();
        }
    };

    var utils = {
        _fail: function (jqXHR, textStatus, errorThrown) {
            if(jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                $btalerts.addDanger(jqXHR.responseText.message);
            } else if (jqXHR.status == 500){
                $btalerts.addDanger('{{ 'messages.unexpected_error' | trans({}, 'BusetaBodegaBundle') }}');
            }
            if(jqXHR.status == 200 || jqXHR.status == 302) {
                $btalerts.addSuccess('{{ 'messages.update.success' | trans({}, 'BusetaBodegaBundle') }}');
            }
        }
    };
</script>
{% endblock %}
