{% extends "BusetaCombustibleBundle::layout.html.twig" %}

{% block title %}
    Modificar Datos de la Configuración de Combustible
{% endblock %}

{% block titulo_encabezado %}
    Modificar Datos de la Configuración de Combustible
{% endblock %}

{% block area_trabajo %}

    {% include '@BusetaCombustible/ConfiguracionCombustible/form_template.html.twig' with {'form': edit_form} %}

{% endblock area_trabajo %}

{% block javascripts %}
    {{ parent() }}

    <!-- Initialize script -->
    <script type="text/javascript">
        $(function (){

            $('#combustible_configuracion_combustible_bodega').chosen();
        });

        //Actualiza los almacenes de destino a partir de los almacenes de origen seleccionados con peticiones AJAX
        $({{ edit_form.bodega.vars.id }}).change(function(){
            var data = {
                bodega_id: $(this).val()
            };

            $.ajax({
                type: 'GET',
                url: '{{ path("obtener_producto_de_bodega") }}',
                data: data,
                success: function(data) {
                    var values = $.parseJSON(data);
                    var $producto_selector = $({{ edit_form.producto.vars.id }});

                    $producto_selector.html('<option>---Seleccione---</option>');

                    for (var i=0, total = values.length; i < total; i++) {
                        $producto_selector.append('<option value="' + values[i].id + '">' + values[i].valor + '</option>');
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
