{% extends '::base.html.twig' %}

{% block title block('header') %}

{% block header 'Crear nueva Tarea Adicional ' %}

{% block body -%}
    <h1>TareaAdicional creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tareaadicional') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
