<div class="row">
    <div class="col-lg-12 form-group">
        {{ form_row(form.calle) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4 form-group">
        {{ form_row(form.pais) }}
    </div>
    <div class="col-lg-8 form-group">
        {{ form_row(form.subdivision) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-8 form-group">
        {{ form_row(form.ciudad) }}
    </div>
</div>
