<table class="table table-striped" style="font-size: 16px;">
    <tbody>

        <tr>
            <th>Matrículas</th>
            <td>{{ entity.matricula }}</td>
        </tr>
        <tr>
            <th>Número</th>
            <td>{{ entity.numero }}</td>
        </tr>
        <tr>
            <th>Número de Chasis</th>
            <td>{{ entity.numerochasis }}</td>
        </tr>

    </tbody>
</table>