{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block titulo %}
    Adicionar tercero
{% endblock %}

{% block titulo_encabezado %}
    Adicionar tercero
{% endblock %}

{% block area_trabajo %}

<div class="row">
    <div class="col-lg-12">
        {# Nav tabs #}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#basicos" data-toggle="tab">Tercero</a></li>
            <li><a href="#persona" data-toggle="tab">Persona</a></li>
            <li><a href="#cliente" data-toggle="tab">Cliente</a></li>
            <li><a href="#proveedor" data-toggle="tab">Proveedor</a></li>
            <li><a href="#institucion" data-toggle="tab">Institución</a></li>
            <li><a href="#direcciones" data-toggle="tab">Direcciones</a></li>
            <li><a href="#mecanismosContacto" data-toggle="tab">Mecanismos de Contacto</a></li>
            <li><a href="#personasContacto" data-toggle="tab">Personas de Contacto</a></li>
        </ul>

        {# Tab panes #}
        <div class="tab-content" style="padding-top: 20px;">
            <!-- TAB BASICOS-->
            <div class="tab-pane fade in active" id="basicos">
                {% include '@HatueyERPTerceros/Tercero/form_template.html.twig' with {'form': form} %}
            </div>

            <div class="tab-pane fade" id="persona">
                {# Persona #}
            </div>

            <!-- TAB EXTRAS-->
            <div class="tab-pane fade" id="cliente">
                {# Cliente #}
            </div>

            <!-- TAB PROVEEDOR-->
            <div class="tab-pane fade" id="proveedor">
                {# Proveedor #}
            </div>

            <!-- TAB INSTITUCION-->
            <div class="tab-pane fade" id="institucion">
                {# Institucion #}
            </div>

            <div class="tab-pane fade" id="direcciones">
                {# Direcciones #}
            </div>

            <div class="tab-pane fade" id="mecanismosContacto">
                {# Mecanismos de Contacto #}
            </div>

            <div class="tab-pane fade" id="personasContacto">
                {# Personas de Contacto #}
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->


{# modal panel #}
<!-- Modal -->
<div id="formAddressModal"></div>


{% endblock area_trabajo %}

{% block javascripts %}
    <!-- Initialize script -->
    <script type="text/javascript">
        $(function (){
            // first read: set tercero event.
            $('a#btn_tercero_save').on('click', tercero._save);

            // on show tab events
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                var href = $(e.target).attr('href');
                var relhref = $(e.relatedTarget).attr('href');

                if (href === '#persona') {
                    persona._load();
                } else if(href === '#cliente') {
                    cliente._load();
                } else if (href === '#proveedor') {
                    proveedor._load();
                } else if (href === '#institucion') {
                    institucion._load();
                } else if (href === '#direcciones') {
                    direcciones._load();
                } else if (href === '#mecanismosContacto') {

                } else if (href === '#personasContacto') {

                }

//                if (href === '#basicos') {
//                    if (tercero.id === '') {
//                        $.when(tercero._save()).then(function(data, textStatus, jqXHR) {
//                            if(jqXHR.status !== 201) {
//                                tabs._active(relhref);
//                                tabs._desactive(href);
//                            }
//                        });
//                    } else {
//                        $.when(tercero._update()).then(function(data, textStatus, jqXHR) {
//                            if(jqXHR.status !== 202) {
//                                tabs._active(relhref);
//                                tabs._desactive(href);
//                            }
//                        });
//                    }
//                } else if(href === '#persona') {
//                    if (persona.id === '') {
//                        $.when(persona._save()).then(function(data, textStatus, jqXHR) {
//                            if(jqXHR.status !== 201) {
//                                tabs._active(relhref);
//                                tabs._desactive(href);
//                            }
//                        });
//                    } else {
//                        $.when(persona._update()).then(function(data, textStatus, jqXHR) {
//                            if(jqXHR.status !== 202) {
//                                tabs._active(relhref);
//                                tabs._desactive(href);
//                            }
//                        });
//                    }
//                }

//                $(e.target).tab('show');
//                $(e.relatedTarget).tab('hide');
                //e.relatedTarget // previous active tab
                //e.target // newly activated tab
            });

            // hide all tabs on page load
            $('a[data-toggle="tab"]').each(function(key, item) {
                if($(item).attr('href') != '#basicos') {
                    $(item).parent().hide();
                }
            });
        });
    </script>

    <script type="text/javascript">
        var tabs = {
            loadding_image: '<i class="fa fa-spinner fa-spin"></i>',
            _show_all_tabs: function() {
                tabs._show_tab('persona');
                tabs._show_tab('cliente');
                tabs._show_tab('proveedor');
                tabs._show_tab('institucion');
                tabs._show_tab('direcciones');
                tabs._show_tab('mecanismosContacto');
                tabs._show_tab('personasContacto');
            },
            _show_tab: function (tabname) {
                $('li a[href="#' + tabname + '"]').parent().show();
            },
            _hide_tab: function () {
                $('li a[href="#' + tabname + '"]').parent().hide();
            },
            _add_loadding: function (tabname) {
                var linktab = $('li a[href="#' + tabname + '"]');
                linktab.prepend($(tabs.loadding_image));
            },
            _remove_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('i.fa.fa-spinner.fa-spin');
                spinning.remove();
            },
            _active: function (href) {
                $('li a[href="' + href + '"]').parent().addClass('active');
                $('div' + href).addClass('active').addClass('in');
            },
            _desactive: function (href) {
                $('li a[href="' + href + '"]').parent().removeClass('active');
                $('div' + href).removeClass('active').removeClass('in');
            }
        };
        var utils = {
            _fail: function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                    addGlobalMessage('danger', jqXHR.responseText.message);
                } else {
                    addGlobalMessage('danger', '{{ 'messages.unexpected_error' | trans({}, 'HatueyERPTercerosBundle') }}');
                }
            }
        };
        var progressBar = {
            _add_progressBar: function (name) {
                var progressBar = $('<div class="progress" id="' + name + '_progress_bar"></div>'),
                    bar = $('<div>')
                            .addClass('progress-bar')
                            .attr('role', 'progressbar')
                            .attr('aria-valuenow', 2)
                            .attr('aria-valuemin', 0)
                            .attr('aria-valuemax', 100)
                            .css('width', '2%')
                            .append($('<span class="sr-only"></span>'));

                progressBar.append(bar);

                $('div#' + name).prepend(progressBar);
            },
            _remove_progressBar: function(name) {
                var progressBar = $('div#' + name + '_progress_bar');
                progressBar.slideUp(400, function () {
                    progressBar.remove();
                });
            }
        };
    </script>

    <!-- Tercero script -->
    <script type="text/javascript">
        var tercero = {
            form_id: $('div#basicos').find('form').attr('id'),
            form_name: $('div#basicos').find('form').attr('name'),
            id: '',
            _load: function () {
                tercero.id = $('input[id="' + tercero.form_id + '_id"]').val()
                if (tercero.id != '' && tercero.id != undefined) {
                    persona._load();
                }
            },
            _save: function (event) {
                if (event != undefined) {
                    event.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding('basicos');
                // add progress bar
                progressBar._add_progressBar('basicos');

                // Tercero Id
                tercero.id = $('input[id="' + tercero.form_id + '_id"]').val();

                var tercerosForm    = $('form#' + tercero.form_id),
                    url             = Routing.generate('terceros_tercero_create',{});
                if(tercero.id !== '' && tercero.id !== undefined) {
                    url = Routing.generate('terceros_tercero_update', {'id': tercero.id});
                }

                var jqXHR = tercerosForm.ajaxSubmit({
                    success: tercero._done,
                    error: utils._fail,
                    complete: tercero._always,
                    uploadProgress: tercero._upload,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + tercero.form_id).replaceWith(response.view);
                if(jqXHR.status == 201) {
                    addGlobalMessage('success', response.message);
                    // Tercero Id
                    tercero.id = $('input[id="' + tercero.form_id + '_id"]').val();
                    // activate all tabs
                    tabs._show_all_tabs();
                    // loading first persona form
                    persona._load();
                    // loading first cliente form
                    cliente._load();
                    // loading first proveedor form
                    proveedor._load();
                    // loading first institucion form
                    institucion._load();
                    // loading direcciones
                    direcciones._load();
                } else if(jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);
                }
                $('a#btn_tercero_save').on('click', tercero._save);
            },
            _always: function() {
                // remove spinning
                tabs._remove_loadding('basicos');
                // remove progress bar
                progressBar._remove_progressBar('basicos');
            },
            _upload: function (event, position, total, percentComplete) {
                var progressBarr = $('div#basicos_progress_bar').find('.progress-bar')[0];
                if (progressBarr !== undefined) {
                    $(progressBarr).css('width', percentComplete + '%');
                    $(progressBarr).find('span').html(percentComplete + '% Completado');
                }
            }
        };
    </script>
    <!-- Persona script -->
    <script type="text/javascript">
        var persona = {
            form_name: '',
            form_id: '',
            id: '',
            date_config: {
                format: 'DD/MM/YYYY'
            },
            getEdad: function (event) {
                var data = {
                    fechaNacimiento: $('input#' + persona.form_id + '_fechaNacimiento').val()
                };

                $.get(Routing.generate('terceros_persona_edad'), data).done(function (data) {
                    if(data.edad != undefined && data.edad != 0 && data.edad != '') {
                        $('input#' + persona.form_id + '_edad').val(data.edad);
                    } else {
                        $('input#' + persona.form_id + '_edad').val('');
                    }
                });
            },
            _start_events: function () {
                //tabs._show_tab('persona');
                $('input#' + persona.form_id + '_fechaNacimiento').datetimepicker(persona.date_config);
                $('input#' + persona.form_id + '_fechaNacimiento').on('dp.change', persona.getEdad);
                $('a#btn_persona_save').on('click', persona._save);
            },
            _load: function () {
                if (tercero.id == '') {
                    //$('li a[href="#persona"]').parent().hide();
                    //$('li a[href="#basicos"]').parent().tab('show');

                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('persona');

                // Persona Id
                persona.id = $('input[id="' + persona.form_id + '_id"]').val();

                var url = Routing.generate('terceros_persona_new',{'tercero': tercero.id});
                if(persona.id !== '' && persona.id !== undefined) {
                    url = Routing.generate('terceros_persona_edit',{'tercero': tercero.id, 'id': persona.id});
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#persona').html(response);

                    // initialize
                    persona.form_id    = $('div.tab-pane#persona').find('form').attr('id');
                    persona.form_name  = $('div.tab-pane#persona').find('form').attr('name');

                    $('a#btn_persona_save').on('click', persona._save);
                    persona._start_events();
                }).fail(utils._fail).always(persona._always);
            },
            _save: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding('persona');

                // Persona Id
                persona.id = $('input[id="' + persona.form_id + '_id"]').val();

                var personaForm = $('form#' + persona.form_id),
                    url = Routing.generate('terceros_persona_create',{'tercero': tercero.id});
                if (persona.id !== '' && persona.id !== undefined) {
                    url = Routing.generate('terceros_persona_update',{'tercero': tercero.id, 'id': persona.id});
                }

                var jqXHR = personaForm.ajaxSubmit({
                    success: persona.done,
                    error: persona.fail,
                    complete: persona.complete,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $(personaForm).replaceWith(response.view);
                if(jqXHR.status == 201) {
                    addGlobalMessage('success', response.message);
                    // Persona Id
                    persona.id = $('input[id="' + persona.form_id + '_id"]').val();
                } else if(jqXHR.status == 202){
                    addGlobalMessage('success', response.message);
                }

                persona._start_events();
            },
            _always: function (jqXHR, textStatus){
                // remove spinning
                tabs._remove_loadding('persona');
                // remove progress bar
                progressBar._remove_progressBar('persona');
            }
        };
    </script>
    <!-- Cliente script -->
    <script type="text/javascript">
        var cliente = {
            form_name: '',
            form_id: '',
            id: '',
            _start_events: function () {
                $('a#btn_cliente_save').on('click', cliente._save);
            },
            _load: function () {
                if (tercero.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('cliente');

                // Cliente Id
                cliente.id = $('input[id="' + cliente.form_id + '_id"]').val();

                var url = Routing.generate('terceros_cliente_new',{'tercero': tercero.id})
                if(cliente.id !== '' && cliente.id !== undefined) {
                    url = Routing.generate('terceros_cliente_edit',{'tercero': tercero.id, 'id': cliente.id});
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#cliente').html(response);

                    // initialize
                    cliente.form_id    = $('div.tab-pane#cliente').find('form').attr('id');
                    cliente.form_name  = $('div.tab-pane#cliente').find('form').attr('name');

                    cliente._start_events();
                }).fail(utils._fail).always(cliente._always);
            },
            _save: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding('cliente');

                // Cliente Id
                cliente.id = $('input[id="' + cliente.form_id + '_id"]').val();

                var clienteForm = $('form#' + cliente.form_id),
                    url = Routing.generate('terceros_cliente_create',{'tercero': tercero.id});
                if (cliente.id !== '' && cliente.id !== undefined) {
                    url = Routing.generate('terceros_cliente_update',{'tercero': tercero.id, 'id': cliente.id});
                }

                clienteForm.ajaxSubmit({
                    success: cliente._done,
                    error: utils._fail,
                    complete: cliente._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + cliente.form_id).replaceWith(response.view);
                if(jqXHR.status == 201) {
                    addGlobalMessage('success', response.message);
                    // Cliente Id
                    cliente.id = $('input[id="' + cliente.form_id + '_id"]').val();
                } else if(jqXHR.status == 202){
                    addGlobalMessage('success', response.message);
                }

                cliente._start_events();
            },
            _always: function(jqXHR, textStatus) {
                // remove spinning
                tabs._remove_loadding('cliente');
            }
        };
    </script>
    <!-- Proveedor script -->
    <script type="text/javascript">
        var proveedor = {
            form_name: '',
            form_id: '',
            id: '',
            _start_events: function () {
                $('a#btn_proveedor_save').on('click', proveedor._save);
            },
            _load: function () {
                if (tercero.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('proveedor');

                // Proveedor Id
                proveedor.id = $('input[id="' + proveedor.form_id + '_id"]').val();

                var url = Routing.generate('terceros_proveedor_new',{'tercero': tercero.id});
                if(proveedor.id !== '' && proveedor.id !== undefined) {
                    url = Routing.generate('terceros_proveedor_edit',{'tercero': tercero.id, 'id': proveedor.id});
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#proveedor').html(response);

                    // initialize
                    proveedor.form_id    = $('div.tab-pane#proveedor').find('form').attr('id');
                    proveedor.form_name  = $('div.tab-pane#proveedor').find('form').attr('name');

                    proveedor._start_events();
                }).fail(utils._fail).always(proveedor._always);
            },
            _save: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding('proveedor');

                // Proveedor Id
                proveedor.id = $('input[id="' + proveedor.form_id + '_id"]').val();

                var proveedorForm = $('form#' + proveedor.form_id),
                    url = Routing.generate('terceros_proveedor_create',{'tercero': tercero.id});
                if (proveedor.id !== '' && proveedor.id !== undefined) {
                    url = Routing.generate('terceros_proveedor_update',{'tercero': tercero.id, 'id': proveedor.id});
                }

                proveedorForm.ajaxSubmit({
                    success: proveedor._done,
                    error: utils._fail,
                    complete: proveedor._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + proveedor.form_id).replaceWith(response.view);
                if(jqXHR.status == 201) {
                    addGlobalMessage('success', response.message);
                    // Proveedor Id
                    proveedor.id = $('input[id="' + proveedor.form_id + '_id"]').val();
                } else if(jqXHR.status == 202){
                    addGlobalMessage('success', response.message);
                }

                proveedor._start_events();
            },
            _always: function(jqXHR, textStatus) {
                // remove spinning
                tabs._remove_loadding('proveedor');
            }
        };
    </script>
    <!-- Institucion script -->
    <script type="text/javascript">
        var institucion = {
            form_name: '',
            form_id: '',
            id: '',
            _start_events: function () {
                $('a#btn_institucion_save').on('click', institucion._save);
            },
            _load: function () {
                if (tercero.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('institucion');

                // Institucion Id
                institucion.id = $('input[id="' + institucion.form_id + '_id"]').val();

                var url = Routing.generate('terceros_institucion_new',{'tercero': tercero.id});
                if(institucion.id !== '' && institucion.id !== undefined) {
                    url = Routing.generate('terceros_institucion_edit',{'tercero': tercero.id, 'id': institucion.id});
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#institucion').html(response);

                    // initialize
                    institucion.form_id    = $('div.tab-pane#institucion').find('form').attr('id');
                    institucion.form_name  = $('div.tab-pane#institucion').find('form').attr('name');

                    institucion._start_events();
                }).fail(utils._fail).always(institucion._always);
            },
            _save: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding('institucion');

                // Institucion Id
                institucion.id = $('input[id="' + institucion.form_id + '_id"]').val();

                var institucionForm = $('form#' + institucion.form_id),
                        url = Routing.generate('terceros_institucion_create',{'tercero': tercero.id});
                if (institucion.id !== '' && institucion.id !== undefined) {
                    url = Routing.generate('terceros_institucion_update',{'tercero': tercero.id, 'id': institucion.id});
                }

                institucionForm.ajaxSubmit({
                    success: institucion._done,
                    error: utils._fail,
                    complete: institucion._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + institucion.form_id).replaceWith(response.view);
                if(jqXHR.status == 201) {
                    addGlobalMessage('success', response.message);
                    // Institucion Id
                    institucion.id = $('input[id="' + institucion.form_id + '_id"]').val();
                } else if(jqXHR.status == 202){
                    addGlobalMessage('success', response.message);
                }

                institucion._start_events();
            },
            _always: function(jqXHR, textStatus) {
                // remove spinning
                tabs._remove_loadding('institucion');
            }
        };
    </script>
    <!-- Direcciones script -->
    <script type="text/javascript">
        var direcciones = {
            form_name: '',
            form_id: '',
            id: '',
            _start_events: function () {
                $('a[href="#form_address_modal"]').on('click', direcciones._load_modal);
                $('a.sortable, a.asc, a.desc').on('click', direcciones._load);
            },
            _load: function (event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if (tercero.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('direcciones');
                var url = Routing.generate('terceros_direccion_list',{'tercero': tercero.id});
                if($(this).hasClass('sortable')) {
                    url = $(this).attr('href');
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#direcciones').html(response);

                    // initialize
//                    institucion.form_id    = $('div.tab-pane#direcciones').find('form').attr('id');
//                    institucion.form_name  = $('div.tab-pane#direcciones').find('form').attr('name');

                    direcciones._start_events();
                }).fail(utils._fail).always(direcciones._always);
            },
            _load_modal: function(event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if(tercero.id === '' || tercero.id === undefined) {
                    return;
                }

                $.get(Routing.generate('terceros_direccion_new_modal', {'tercero': tercero.id}))
                        .done(function(response, textStatus, jqXHR){
                            $('div#form_address_modal').replaceWith($(response.view));

                            direcciones.form_id = $('div#form_address_modal').find('form').attr('id');
                            direcciones.form_name = $('div#form_address_modal').find('form').attr('name');

                            $('a#btn_direccion_save').on('click', direcciones._save_modal);
                            $('a#btn_direccion_cancel').on('click', function(){
                                $('div#form_address_modal').modal('hide');
                            });

                            $('div#form_address_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },
            _save_modal: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                $('#btn_direccion_save').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                $('form#' + direcciones.form_id).ajaxSubmit({
                    success: direcciones._done,
                    error: utils._fail,
                    complete: direcciones._always,
                    url: Routing.generate('terceros_direccion_new_modal',{'tercero': tercero.id}),
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + direcciones.form_id).replaceWith(response.view);
                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);

                    $('div#form_address_modal').modal('hide');
                    direcciones._load();
                }
            },
            _always: function(jqXHR, textStatus) {
                // remove spinning
                tabs._remove_loadding('direcciones');
                $('#btn_direccion_save').find('span')
                        .addClass('glyphicon')
                        .addClass('glyphicon-save')
                        .removeClass('fa')
                        .removeClass('fa-gear')
                        .removeClass('fa-spin');
            }
        };
    </script>

    <!-- Disable F5 refresh -->
    <script type="text/javascript">
        function disableF5(e) { if ((e.which || e.keyCode) == 116) e.preventDefault(); };
        $(document).on("keydown", disableF5);
    </script>
    <!-- Disable go back navigation -->
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        function disableGoBack(e) { history.go(1); };
        $(window).on("beforeunload", disableGoBack);
        $(window).on("popstate", disableGoBack);
    </script>
{% endblock javascripts %}