{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Informe de Stock
{% endblock %}

{% block titulo_encabezado %}
    Informe de Stock
{% endblock %}

{% block area_trabajo %}

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th  style="text-align: left;">Almacén</th>
            <th  style="text-align: left;">Producto</th>
            <th>Cantidad de productos</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.almacen }}</td>
                <td>{{ entity.producto }}</td>
                <td  style="text-align: center;">{{ entity.cantidadProductos }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros en el sistema.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}