<table class="table table-striped" style="font-size: 16px;">
    <tbody>
    <tr>
        <th>Número Reporte</th>
        <td>{{ entity.reporte }}</td>
    </tr>
    <tr>
        <th>Autobús</th>
        <td>{{ entity.autobus }}</td>
    </tr>
    <tr>
        <th>Detalle Reporte</th>
        <td>{{ entity.detalleReporte }}</td>
    </tr>
    </tbody>
</table>