{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}{% endblock %}

{% block titulo_encabezado %}
    Modificar tercero: "{{ entity.nombres }}"
{% endblock %}

{% block area_trabajo %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#basicos" data-toggle="tab">Tercero</a></li>
        <li><a href="#persona" data-toggle="tab">Persona</a></li>
        <li><a href="#direcciones" data-toggle="tab">Direcciones</a></li>
        <li><a href="#contactos" data-toggle="tab">Mecanismos de contacto</a></li>
    </ul>

    {# Tab panes #}
    <div class="tab-content" style="padding-top: 20px;">
        <!-- TAB BASICOS-->
        <div class="tab-pane fade in active" id="basicos">
            {% include 'BusetaBodegaBundle:Tercero:form_template.html.twig' with {'form': edit_form} %}
        </div>

        <!-- TAB PERSONA-->
        <div class="tab-pane fade" id="persona"></div>

        <!-- TAB DIRECCIONES-->
        <div class="tab-pane fade" id="direcciones"></div>

        <!-- TAB MECANISMOS DE CONTACTO-->
        <div class="tab-pane fade" id="contactos"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            tercero._load();
        }).ajaxStart(function () {
            $('.btn.btn-primary')
                    .addClass('disabled');

        }).ajaxStop(function () {
            $('.btn.btn-primary')
                    .removeClass('disabled');
        });

    </script>
    <!-- Tercero script -->
    <script type="text/javascript">
        var tercero = {
            tabname: 'basicos',
            form_id: $('div#basicos').find('form').attr('id'),
            form_name: $('div#basicos').find('form').attr('name'),
            id: '',
            _load: function () {
                $('a#btn_tercero_save').on('click', tercero._save);
                $('a.thumbnail').on('click', function (e) {
                    e.preventDefault();

                    $('input[type="file"]').trigger('click');
                });

                tercero.id = $('input[id="' + tercero.form_id + '_id"]').val();
                if (tercero.id === '' || tercero.id === undefined) {
                    // hide all tabs on page load
                    $('a[data-toggle="tab"]').each(function(key, item) {
                        if($(item).attr('href') != '#basicos') {
                            $(item).parent().hide();
                        }
                    });
                } else {
                    tabs._show_all_tabs();
                }

                // remove all assigned events
                $('a[data-toggle="tab"]').unbind();
                // on show tab events
                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    var href = $(e.target).attr('href');

                    if (href === '#direcciones') {
                        direccion._load();
                    } else if(href === '#contactos') {
                        contacto._load();
                    }else if(href === '#persona') {
                        persona._load();
                    }
                });
            },

            _save: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding(tercero.tabname);

                var proveedorForm    = $('form#' + tercero.form_id);

                proveedorForm.ajaxSubmit({
                    success: tercero._done,
                    error: utils._fail,
                    complete: tercero._always,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + tercero.form_id).replaceWith($(response.view).find('form#' + tercero.form_id));

                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);

                }
                tercero._load();
            },
            _always: function() {
                // remove spinning
                tabs._remove_loadding(tercero.tabname);
            }
        }
    </script>

    <!-- Persona script -->
    <script type="text/javascript">
        var persona = {
            tabname: 'persona',
            form_id: '',
            form_name: '',
            id: '',
            _start_events: function () {
                // persona Id
                persona.id  = $('input[id="' + persona.form_id + '_id"]').val();

                $('a#btn_persona_save').on('click', persona._save);
            },
            _load: function () {
                if (tercero.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding(persona.tabname);

                // Persona Id
                persona.id = $('input[id="' + persona.form_id + '_id"]').val();

                var url = Routing.generate('tercero_persona_new',{'tercero': tercero.id});
                if(persona.id !== '' && persona.id !== undefined) {
                    url = Routing.generate('tercero_persona_edit',{'tercero': tercero.id, 'id': persona.id});
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#persona').html(response);

                    // initialize
                    persona.form_id    = $('div.tab-pane#persona').find('form').attr('id');
                    persona.form_name  = $('div.tab-pane#persona').find('form').attr('name');

                    persona._start_events();
                }).fail(utils._fail).always(persona._always);
            },
            _save: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding(persona.tabname);

                var personaForm    = $('form#' + persona.form_id);

                personaForm.ajaxSubmit({
                    success: persona._done,
                    error: utils._fail,
                    complete: persona._always,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + persona.form_id).replaceWith(response.view);

                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);
                }

                persona._start_events();
            },
            _always: function() {
                // remove spinning
                tabs._remove_loadding(persona.tabname);
            }
        }
    </script>

    <!-- Direcciones script -->
    <script type="text/javascript">
        var direccion = {
            tabname:'direcciones',
            form_name: '',
            form_id: '',

            _start_events: function (e) {
                <!-- click en el botón 'Adicionar dirección' -->
                $('a[href="#form_direccion_modal"]').on('click', direccion._load_modal);
                // Paginator sort
                $('table.records_list').find('a.sortable, a.asc, a.desc').on('click', direccion._load);
                // Paginator navigation
                $('div.direccion-paginator.row ul.pagination').find('a.paginator-link').on('click', direccion._load);
            },

            _load: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                tabs._add_loadding(direccion.tabname);

                var url = Routing.generate('direccion', {'tercero': tercero.id});
                if($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                    url = $(this).attr('href');
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#direcciones').html(response);

                    direccion._start_events();
                }).fail(utils._fail).always(direccion._always());
            },

            _load_modal: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                var url = Routing.generate('direccion_new', {'tercero': tercero.id});

                $.get(url)
                        .done(function(response, textStatus, jqXHR){

                            $('div#form_direccion_modal').replaceWith($(response.view));

                            direccion.form_id = $('div#form_direccion_modal').find('form').attr('id');
                            direccion.form_name = $('div#form_direccion_modal').find('form').attr('name');

                            $('a#btn_direccion_save').on('click', direccion._save_modal);
                            $('a#btn_direccion_cancel').on('click', function(){
                                $('div#form_direccion_modal').modal('hide');
                            });

                            $('div#form_direccion_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },

            _save_modal: function (e) {
                if(e !== undefined) {
                    e.preventDefault();
                }

                $('#btn_direccion_save').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                $('form#' + direccion.form_id).ajaxSubmit({
                    success: direccion._done,
                    error: utils._fail,
                    complete: direccion._always,
                    dataType: 'json'
                });
            },

            _done: function (response, textStatus, jqXHR) {
                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    //addGlobalMessage('success', response.message);

                    $('div#form_direccion_modal').modal('hide');
                    direccion._load();
                } else {
                    $('form#' + direccion.form_id).replaceWith($(response.view).find('form'));
                }
            },

            _always: function () {
                tabs._remove_loadding(direccion.tabname)
            }
        };
    </script>

    <!-- Mecanismos de Contacto script -->
    <script type="text/javascript">
        var contacto = {
            tabname: 'contactos',
            form_name: '',
            form_id: '',

            _start_events: function (e) {
                <!-- click en el botón 'Adicionar mecanismo de contacto' -->
                $('a[href="#form_contacto_modal"]').on('click', contacto._load_modal);
                $('a[href="#btn_contacto_edit"]').on('click', contacto._load_modal);
                // Paginator sort
                $('table.records_list').find('a.sortable, a.asc, a.desc').on('click', contacto._load);
                // Paginator navigation
                $('div.direccion-paginator.row ul.pagination').find('a.paginator-link').on('click', contacto._load);
            },

            _load: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                tabs._add_loadding(contacto.tabname);

                var url = Routing.generate('mecanismocontacto', {'tercero': tercero.id});
                if($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                    url = $(this).attr('href');
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#contactos').html(response);

                    contacto._start_events();
                }).fail(utils._fail).always(contacto._always());
            },

            _load_modal: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                console.log($(this).attr('href'));

                var url = Routing.generate('mecanismocontacto_new', {'tercero': tercero.id});
                if($(this).attr('href') !== undefined && $(this).attr('href') === '#btn_contacto_edit') {
                    url = Routing.generate('mecanismocontacto_edit', {'id': $(this).data('content')});
                }

                $.get(url)
                        .done(function(response, textStatus, jqXHR){
                            $('div#form_contacto_modal').replaceWith($(response.view));

                            contacto.form_id = $('div#form_contacto_modal').find('form').attr('id');
                            contacto.form_name = $('div#form_contacto_modal').find('form').attr('name');

                            console.log(contacto.form_id);
                            console.log(contacto.form_name);

                            $('a#btn_contacto_save').on('click', contacto._save_modal);
                            $('a#btn_contacto_cancel').on('click', function(){
                                $('div#form_contacto_modal').modal('hide');
                            });

                            $('div#form_contacto_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },

            _save_modal: function (e) {
                if(e !== undefined) {
                    e.preventDefault();
                }

                $('#btn_contacto_save').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                $('form#' + contacto.form_id).ajaxSubmit({
                    success: contacto._done,
                    error: utils._fail,
                    complete: contacto._always,
                    dataType: 'json'
                });
            },

            _done: function (response, textStatus, jqXHR) {
                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);

                    $('div#form_contacto_modal').modal('hide');
                    contacto._load();
                } else {
                    $('form#' + contacto.form_id).replaceWith($(response.view).find('form'));
                }
            },

            _always: function () {
                tabs._remove_loadding(contacto.tabname)
            }
        }
    </script>

    <!-- Extras script -->
    <script type="text/javascript">
        var tabs = {
            loadding_image: '<span class="loading"><i class="fa fa-spinner fa-spin"></i> </span>',

            _show_all_tabs: function() {
                tabs._show_tab('direcciones');
                tabs._show_tab('contactos');
            },

            _show_tab: function (tabname) {
                $('li a[href="#' + tabname + '"]').parent().show();
            },

            _hide_tab: function () {
                $('li a[href="#' + tabname + '"]').parent().hide();
            },

            _add_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('span.loading');

                if (spinning.length == 0) {
                    var linktab = $('li a[href="#' + tabname + '"]');
                    linktab.prepend($(tabs.loadding_image));
                }
            },

            _remove_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('span.loading');
                spinning.remove();
            }
        };

        var utils = {
            _fail: function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                    addGlobalMessage('danger', jqXHR.responseText.message);
                } else {
                    addGlobalMessage('danger', '{{ 'messages.unexpected_error' | trans({}, 'BusetaBodegaBundle') }}');
                }
            }
        };
    </script>
{% endblock javascripts %}
