{% extends 'BusetaSecurityBundle::layout.html.twig' %}

{% form_theme form 'BusetaBodegaBundle:Form:fields.twig' %}

{% block titulo_encabezado 'Crear Nuevo Usuario' %}

{% block area_trabajo %}
    {% form_theme form '@BusetaBodega/Form/fields.twig' %}

    <form action="{{ form.vars.action }}" method="post" enctype="multipart/form-data" name="{{ form.vars.full_name }}">
        {{ form_widget(form) }}

        <div>
            <button class="btn btn-primary" type="submit">Aceptar</button>
            <a class="btn btn-default" href="{{ path('security_user') }}"> Listado</a>
        </div>
    </form>
{% endblock %}
