<table class="records_list table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th>Bodega</th>
        <th>Producto</th>
        <th>Fecha</th>

    </tr>
    </thead>
    <tbody>
    {% for entity in informeStock %}
        <tr>

            <td>{{ entity.almacen }}</td>
            <td>{{ entity.producto }}</td>
            <td>{{ entity.fechaMovimiento | date('d/m/Y') }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">No se encontraron registros de la búsqueda en el sistema.</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{# END PAGINACIÓN #}
