<li icon="icon-envelope" class="active first">
    <a href="{{ path('notificaciones_list') }}">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-inverse">{{ cantNotificaciones }}</span>
    </a>
</li>